<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>filter</filter-name>
        <filter-class>Filter.filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/Detail.jsp</url-pattern>
        <url-pattern>/InsertAdmin.jsp</url-pattern>
        <url-pattern>/UpdateAdmin.jsp</url-pattern>
        <url-pattern>/UpdateUser.jsp</url-pattern>
        <url-pattern>/ShowBill.jsp</url-pattern>
        <url-pattern>/adminPage.jsp</url-pattern>
        <url-pattern>/insertBook.jsp</url-pattern>
        <url-pattern>/managementPage.jsp</url-pattern>
        <url-pattern>/showAdmin.jsp</url-pattern>
        <url-pattern>/showUser.jsp</url-pattern>
        <url-pattern>/updateBook.jsp</url-pattern>
        <url-pattern>/BillDetail</url-pattern>
        <url-pattern>/DeleteUser</url-pattern>
        <url-pattern>/AdminDetail</url-pattern>
        <url-pattern>/DeleteAdmin</url-pattern>
        <url-pattern>/DeleteBook</url-pattern>
        <url-pattern>/DetailBook</url-pattern>
        <url-pattern>/InsertAdmin</url-pattern>
        <url-pattern>/InsertBook</url-pattern>
        <url-pattern>/RemoveBookControl</url-pattern>
        <url-pattern>/UpdateAdmin</url-pattern>
        <url-pattern>/UpdateBookControl</url-pattern>
        <url-pattern>/UpdateUser</url-pattern>
        <url-pattern>/UserDetail</url-pattern>
        <url-pattern>/detailControl</url-pattern>
        <url-pattern>/WaitingBill.jsp</url-pattern>
        <url-pattern>/detailControl</url-pattern>
        <url-pattern>/processed_bill.jsp</url-pattern>
        <url-pattern>/completed_bill.jsp</url-pattern>
        <url-pattern>/BillCompletedDetail</url-pattern>
        <url-pattern>/BillProcessedDetail</url-pattern>
        <url-pattern>/CompletedBillNew</url-pattern>
        <url-pattern>/ProcessedBillNew</url-pattern>




    </filter-mapping>
    <servlet>
        <servlet-name>userLoginControl</servlet-name>
        <servlet-class>control.userLoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginControl</servlet-name>
        <servlet-class>control.adminLoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSignUpControl</servlet-name>
        <servlet-class>control.userSignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessedBillNew</servlet-name>
        <servlet-class>control.ProcessedBillNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillProcessedDetail</servlet-name>
        <servlet-class>control.BillProcessedDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedBillNew</servlet-name>
        <servlet-class>control.CompletedBillNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillCompletedDetail</servlet-name>
        <servlet-class>control.BillCompletedDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLoginControl</servlet-name>
        <url-pattern>/userLoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginControl</servlet-name>
        <url-pattern>/adminLoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSignUpControl</servlet-name>
        <url-pattern>/userSignUpControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessedBillNew</servlet-name>
        <url-pattern>/ProcessedBillNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillProcessedDetail</servlet-name>
        <url-pattern>/BillProcessedDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedBillNew</servlet-name>
        <url-pattern>/CompletedBillNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillCompletedDetail</servlet-name>
        <url-pattern>/BillCompletedDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
